.view_button_cart{
    width: 100px;
    height: 50px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    background-color: rgba(35, 40, 47, 0.8);
    color: #efefefef;
    border: 1px solid white;
    font-size: 16px;
}
.view_button_cart:hover {
    color: white;
    background-color: rgba(39, 45, 50, 1);
}

.info_icon_block{
  color: #606060;
  cursor: pointer;
  font-size: 26px;
  display: inline-block;
  margin-left: 10px;
}

.show_info_block{
  text-align: center;
  border: 2px solid black;
  border-radius: 10%;
  padding: 15px;
  background-color: white;
  color: black;
  position: absolute;
  display: none;
  z-index: 2;
  max-width: 180px;
  margin-top: -190px;
  margin-left: 85px;
}

.extra_cart_button_small{
  margin-left: -75px;
}
